jwm.authDialog.destroy();
if($('#username').length == 0) {
  $('header').append(
    '<div id="username"></div>'
  );
}

$('#username').html('<%= escape_javascript(render 'users/menu', username:@user.username) %>');
