<div id="about" hidden="true">
  <p id="about-content">
    My name is Corey Desrosiers and I am a freelance web developer living in
New York City. I wrote this little web app as an experiment with web sockets.
  </p>
</div>
