<div id="help" hidden="true">
  <p id="help-content">
    Jamtime is a web sockets app that turns your laptop's keyboard into a
guitar or bass fretboard so you can experiment with melodies and basslines with
a partner anywhere in the world in real-time. The app's guitar and bass are
nearly exact models of their real-life counterparts.
  </p>
</div>
