<%= render 'users/dialog' %>
<h1>Echo form</h1>
<input id="echo-form"/>
<div id="jam-space" hidden="true">
	<div id="guitar">
		<h1>Home</h1>
		<canvas class="vib_frame" id="base_frame"	style="z-index: 1"></canvas>
		
		<canvas class="vib_frame" id="guitar_e_0" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_e_1" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_e_2" style="z-index: 2"></canvas>
		<canvas class="vib_frame" id="guitar_e_3" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_e_4" style="z-index: 0"></canvas>
		
		<canvas class="vib_frame" id="guitar_B_0" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_B_1" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_B_2" style="z-index: 2"></canvas>
		<canvas class="vib_frame" id="guitar_B_3" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_B_4" style="z-index: 0"></canvas>
		
		<canvas class="vib_frame" id="guitar_G_0" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_G_1" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_G_2" style="z-index: 2"></canvas>
		<canvas class="vib_frame" id="guitar_G_3" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_G_4" style="z-index: 0"></canvas>
		
		<canvas class="vib_frame" id="guitar_D_0" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_D_1" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_D_2" style="z-index: 2"></canvas>
		<canvas class="vib_frame" id="guitar_D_3" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_D_4" style="z-index: 0"></canvas>
		
		<canvas class="vib_frame" id="guitar_A_0" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_A_1" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_A_2" style="z-index: 2"></canvas>
		<canvas class="vib_frame" id="guitar_A_3" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_A_4" style="z-index: 0"></canvas>
		
		<canvas class="vib_frame" id="guitar_E_0" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_E_1" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_E_2" style="z-index: 2"></canvas>
		<canvas class="vib_frame" id="guitar_E_3" style="z-index: 0"></canvas>
		<canvas class="vib_frame" id="guitar_E_4" style="z-index: 0"></canvas>
	</div>
</div>
